body {
	background-color: #ddd;
	min-height: 100%;
}

ul {
	list-style:none;
}
.container {
	background-color : #fff;
	min-height :600px;
}

.container .navbar {
	position: fixed;
	width: 940px;
	margin: auto;
}

.container .navbar ul.toolbar {
	padding-top: 10px;
}

.container .navbar ul.toolbar li{
	display:inline-block;
	padding-right:10px;
	float:left;
}

.container .navbar ul.toolbar .icon-user{
	padding-right:5px;
}
.container .navbar ul.toolbar li a{
	text-decoration : none;
}

.container .body {
	margin-top: 120px;
}

.btn-info.disabled {
	background-color: #cecece;
	color: #999;
	text-shadow: none;
}
.error {
    color: #CC0000;
}

.error, .message {
    font-size: 12px;
    line-height: 2;
    margin: 0px;
    padding: 0px;
}
// spinner and global message
#ajaxLoading {
    display:none;
}

#global-message {
	display:none;
}

.block {
	position: fixed;
	background-color: #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    padding: 25px 5px;
    background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
 	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  	background-repeat: repeat-x;
  	border: 1px solid #d4d4d4;
  	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  	*zoom: 1;
  	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.block .tweet-field {
	height : 105px;
}
.charLeft {
	font-weight: bold;
	padding-right: 10px;
	padding-top: 5px;
}
h3.header {
	border-bottom: 1px solid #999999;
    color: #777777;
    font-size: 18px;
    padding-left: 10px;
    font-weight: 200;
}

.emptyMsg {
	margin-left:22px;
}
.list-item {
	list-style : none;
	border: 1px solid #F5F5F5;
	border-radius : 5px;
}
.list-item .content{
	min-height: 51px;
	padding: 9px 12px;
	border-bottom: 1px solid #e8e8e8;
	word-wrap: break-word;
}

.list-item .content:hover{
	min-height: 51px;
	padding: 9px 12px;
	background-color: #F5F5F5;
	cursor:pointer;
}

.list-item .content .header {
	margin-bottom: 15px;
}

.list-item .content .by {
	color : #0084B4;
}

.list-item .content i {
	padding-right:3px;
}
.list-item .content .time {
	font-size : 10px;
}

.list-item .content p {
	font-size : 12px;
}

//over ride
#hbox {
	margin: 15px 0px;
	padding: 0px;
	text-align: center;
}

#hbox .inner {
	width: 315px;
	padding-bottom: 6px;
	margin: 60px auto;
	text-align: left;
	border: 1px solid #aab;
	background-color: #f0f0fa;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	-khtml-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}

#hbox .inner .fheader {
	padding: 18px 26px 14px 26px;
	background-color: #f7f7ff;
	margin: 0px 0 14px 0;
	color: #2e3741;
	font-size: 18px;
	font-weight: bold;
}

#hbox .inner .cssform p {
	clear: left;
	margin: 0;
	padding: 15px 0 3px 0;
	padding-left: 45px;
	margin-bottom: 20px;
	height: 1%;
}

#hbox .inner .cssform input[type='text'] {
}

#hbox .inner .cssform label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-left: -105px;
	width: 110px;
	padding-top: 3px;
	padding-right: 10px;
}

#hbox #remember_me_holder {
	padding-left: 120px;
}

#hbox #submit {
}

#hbox #remember_me_holder label {
	float: none;
	margin-left: 0;
	text-align: left;
	width: 200px
}

#hbox .inner .hbox_message {
	padding: 6px 25px 20px 25px;
	color: #c33;
}

#hbox .inner .text_ {
	width: 235px;
}

#hbox .inner .chk {
	height: 12px;
}

select, textarea, input[type="text"],
 input[type="password"], input[type="datetime"], 
 input[type="datetime-local"], input[type="date"], 
 input[type="month"], input[type="time"], 
 input[type="week"], input[type="number"], 
 input[type="email"], input[type="url"], 
 input[type="search"], input[type="tel"], 
 input[type="color"], .uneditable-input {
 	height:30px;
}

a:hover {
	text-decoration: none;
}
